$body-bg: #FFFFFF;

/* text color  */
$main-text: #1C1C1C;
$input-placeholder: #657786;
$input-error-msg: #FC5A5A;  
$signin-link: #0099FF;
$button-text: #FFFFFF;
$nav-avtive-color: #FF6600;
$modal-placeholder:#9197A3;
$like-icon: #E0245E;

/* element color  */
$input-bg: #F5F8FA;
$input-underline-default: #657786;
$input-underline-hover-focus: #50B5FF;
$input-underline-error: #FC5A5A;
$button-color: #FF6600;
$avatar-no-img: #C4C4C4;
$reply-modal-connect-line:  #CCD6DD;
$popular-bg: #F5F8FA;
$popular-border:#E6ECF0;
$admin-card-lightgrey-bg:#F6F7F8;
$modal-body-bg: #000000;